<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" />
  <package id="CsvHelper" version="31.0.2" manuallyInstalled="true" />
  <package id="ExtendedNumerics.BigDecimal" version="2025.1001.2.129" />
  <package id="MathNet.Numerics" version="5.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" manuallyInstalled="true" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="NCalc.Core" version="5.2.0" />
  <package id="NCalcSync" version="5.2.0" manuallyInstalled="true" />
  <package id="NETStandard.Library" version="1.6.1" manuallyInstalled="true" />
  <package id="NSubstitute" version="5.1.0" manuallyInstalled="true" />
  <package id="Parlot" version="1.0.2" />
  <package id="System.Buffers" version="4.5.1" />
  <package id="System.Collections.Immutable" version="8.0.0" manuallyInstalled="true" />
  <package id="System.Diagnostics.EventLog" version="4.7.0" />
  <package id="System.Memory" version="4.5.5" />
  <package id="System.Numerics.Vectors" version="4.4.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" />
  <package id="System.ValueTuple" version="4.4.0" manuallyInstalled="true" />
</packages>